.macbook-air-1-child {
  position: absolute;
  top: 183px;
  left: 388px;
  border-radius: 21px;
  background-color: var(--color-black);
  width: 505px;
  height: 480px;
}
.macbook-air-1-item {
  position: absolute;
  top: 390px;
  left: 422px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gray-400);
  width: 437px;
  height: 55px;
}
.macbook-air-1-inner {
  position: absolute;
  top: 481px;
  left: 422px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gray-400);
  width: 437px;
  height: 55px;
}
.username {
  position: absolute;
  top: 362px;
  left: 429px;
}
.password {
  position: absolute;
  top: 455px;
  left: 427px;
}
.rectangle-div {
  position: absolute;
  top: 566px;
  left: 427px;
  border-radius: 9px;
  background-color: var(--color-olive);
  width: 427px;
  height: 54px;
}
.login {
  position: absolute;
  top: 579px;
  left: 603px;
  font-size: 22px;
}
.whatsapp-image-2024-05-12-at-6 {
  position: absolute;
  top: 213px;
  left: 594px;
  border-radius: var(--br-xs);
  width: 93px;
  height: 93px;
  object-fit: cover;
}
.login-your-account {
  position: absolute;
  top: 306px;
  left: 465px;
  font-size: var(--font-size-19xl);
  color: #565656;
}
.macbook-air-1 {
  width: 1280px;
  position: relative;
  background-color: #282828;
  height: 100vh;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--white);
  font-family: var(--x-content);
  margin: auto;
}

body {
  background: #282828;
}



input {
  height: 54px;
  width: -webkit-fill-available;
  background: none;
  border: none;
  padding: 0px 14px;
  color: white;
}


a.login_btn_a {
  text-decoration: none;
  color: white;
}